<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BITS Automation" verbose="2">

	 <test name="Login">
		<classes> 
			<class name="testCases.Login">
			</class>
		</classes>
	</test> 
	 <!--<test name="Manage Faculty List - Admin Role">
		<classes>
			<class name="testCases.AdminRole_ManageFaculty_List">
			</class>
		</classes>
			</test> 
	  	<test name="Manage Faculty Detail - Admin Role">
		<classes>
			<class name="testCases.AdminRole_ManageFaculty_Detail">
			</class>
		</classes>
			</test> 
			<test name="Manage Student Data List - Admin Role">
		<classes>
			<class name="testCases.AdminRole_Student_Data_List">
			</class>
		</classes>
			</test>
			<test name="Manage Student Profile Detail - Admin Role">
		<classes>
			<class name="testCases.AdminRole_Student_Profile_Detail">
			</class>
		</classes>
			</test>
			<test name="Student Course Test Cases - Admin Role">
		<classes>
			<class name="testCases.AdminRole_Student_Course_List">
			</class>
		</classes>
	</test>
	<test name="Suggest Station List - Admin Role">
		<classes>
			<class name="testCases.AdminRole_Suggest_Station_List">
			</class>
		</classes>
	</test>
	<test name="Suggest Station Detail - Admin Role">
		<classes>
			<class name="testCases.AdminRole_Suggest_Station_Detail">
			</class>
		</classes>
	</test>
	<test name="DashBoard - Admin Role">
		<classes>
			<class name="testCases.AdminRole_Dashboard">
			</class>
		</classes>
	</test>
	<test name="Edit Profile - Faculty Role">
		<classes>
			<class name="testCases.FacultyRole_EditProfile">
			</class>
		</classes>
	</test>
	<test name="Suggest Station List - Faculty Role">
		<classes>
			<class name="testCases.FacultyRole_Suggest_Station_List">
			</class>
		</classes>
	</test> 
	<test name="Suggest Station Detail - Faculty Role">
		<classes>
			<class name="testCases.FacultyRole_Suggest_Station_Detail">
			</class>
		</classes>
	</test>
	<test name="Problem Bank List - Faculty Role">
		<classes>
			<class name="testCases.FacultyRole_ProblemBank_List">
			</class>
		</classes>
	</test>-->
	<test name="Problem Bank Add - Faculty Role">
		<classes>
			<class name="testCases.FacultyRole_ProblemBank_Add">
			</class>
		</classes>
	</test>
	<!--<test name="Logout">
		<classes>
			<class name="testCases.Logout">
			</class>
		</classes>
	</test> -->
	<!--
	 <test name="Suggest Station List">
		<classes>
			<class name="testCases.Faculty_Suggest_Station_List">
			</class>
		</classes>
	</test>	
	<test name="Suggest Station Detail">
		<classes>
			<class name="testCases.Faculty_Suggest_Station_Detail">
			</class>
		</classes>
	</test>
	<test name="Problem Bank List">
		<classes>
			<class name="testCases.ProblemBank_List">
			</class>
		</classes>
	</test>	
	<test name="Problem Bank Add">
		<classes>
			<class name="testCases.ProblemBank_Add">
			</class>
		</classes>
	</test>	
	<test name="Project List">
		<classes>
			<class name="testCases.Project_List">
			</class>
		</classes>
	</test>	
	
		//////////////////////// Admin Role /////////////////////////////////////

	 <test name="Manage Faculty List Test Cases">
	<classes>
		<class name="testCases.ManageFaculty_List">
		</class>
	</classes>
    </test>

	<test name="Manage Faculty Detail Test Cases">
		<classes>
			<class name="testCases.ManageFaculty_Detail">
			</class>
		</classes>
	</test>
	
	<test name="Student Course Test Cases">
		<classes>
			<class name="testCases.Student_Course_List">
			</class>
		</classes>
	</test>
	
	<test name="Student Data Test Cases">
		<classes>
			<class name="testCases.Student_Data_List">
			</class>
		</classes>
	</test>
	
	<test name="Suggest Station List Test Cases">
		<classes>
			<class name="testCases.Suggest_Station_List">
			</class>
		</classes>
	</test>
	
	<test name="Suggest Station Detail Test Cases">
		<classes>
			<class name="testCases.Suggest_Station_Detail">
			</class>
		</classes>
	</test> 
	
	//////////////////////// Planning Role /////////////////////////////////////
	
	<test name="Semester Allocation List Test Cases">
		<classes>
			<class name="testCases.Semester_Allotment_List">
			</class>
		</classes>
	</test>
	
	 
	<test name="Problem Bank List Test Cases">
		<classes>
			<class name="testCases.ProblemBank_List">
			</class>
		</classes>
	</test>
	
	<test name="Add Problem Detail Test Cases">
		<classes>
			<class name="testCases.AddProblem_Detail">
			</class>
		</classes>
	</test>
	
	<test name="Add Project List Test Cases">
		<classes>
			<class name="testCases.Project_List">
			</class>
		</classes>
	</test>
	
	<test name="Planning Role Suggest Station List Test Cases">
		<classes>
			<class name="testCases.PlanSuggest_Station_List">
			</class>
		</classes>
	</test>
	
	<test name="Planning Role Suggest Station Detail Test Cases">
		<classes>
			<class name="testCases.PlanSuggest_Station_Detail">
			</class>
		</classes>
	</test>
	
	//////////////////////// Allotment Role /////////////////////////////////////
	
	<test name="Allotment Role Suggest Station List Test Cases">
		<classes>
			<class name="testCases.AllotSuggest_Station_List">
			</class>
		</classes>
	</test>
	
	<test name="Allotment Role Suggest Station Detail Test Cases">
		<classes>
			<class name="testCases.AllotSuggest_Station_Detail">
			</class>
		</classes>
	</test>
	
	<test name="Allotment Role All Allotment Student List Test Cases">
		<classes>
			<class name="testCases.AllStudent_Allot_List">
			</class>
		</classes>
	</test>
	
	<test name="Allotment Role Student Semester Allotment List Test Cases">
		<classes>
			<class name="testCases.StudentSem_Allot_List">
			</class>
		</classes>
	</test>
 
   //////////////////////// Student Role /////////////////////////////////////
   
   <test name="Student Role Profile Detail Test Cases">
		<classes>
			<class name="testCases.Student_Profile_Detail">
			</class>
		</classes>
	</test>
   
   <test name="Student Role Suggest Station List Test Cases">
		<classes>
			<class name="testCases.StudentSuggest_Station_List">
			</class>
		</classes>
	</test>
	
	 <test name="Student Role Suggest Station Detail Test Cases">
		<classes>
			<class name="testCases.StudentSuggest_Station_Detail">
			</class>
		</classes>
	</test>
	
	<test name="Student Role Semester Allotment List Test Cases">
		<classes>
			<class name="testCases.StudentRoleSem_Allot_List">
			</class>
		</classes>
	</test> -->
	
	</suite>